# Miscellaneous
.DS_Store

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.flutter-plugins-dependencies
build/
build/*.apk
build/**/*.apk
build/*apk

# Local tool installs (workspace-only)
.flutter/
.android-sdk/
android/app/upload-keystore.jks